body {
  margin: 2% 8% 1% 5%;
}

.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 200px;
}
/* SECTION-SEARCH */
.section-search__button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 8%;
  top: 19%;
  font-size: 1.5rem;
  opacity: 0.8;
}

.section-search__input {
  background-color: #e7e7e7;
  width: 100%;
  border: none;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.section-search__input::placeholder {
  opacity: 40%;
  font-size: 1.1rem;
}

/* Section-filters */
.section-filters {
  margin-top: 20px;
  margin-bottom: 20px;
}
.filters__arrow--red {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 210px;
  top: 300px;
  size: 1rem;
}
.fas {
  font-size: 1.5rem;
}
.filters__select--red {
  border: none;
  padding: 10px 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  background-color: #ed6454;
}

.filters__arrow--green {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 210px;
  top: 215px;
  size: 1rem;
}
.filters__select--green {
  border: none;
  padding: 10px 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  background-color: #68d9a4;
}

.filters__arrow--blue {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 210px;
  top: 390px;
  size: 1rem;
}
.filters__select--blue {
  border: none;
  padding: 10px 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  background-color: #3282f7;
}
