body {
  margin: 2% 8% 1% 5%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 200px;
}
/* SECTION-SEARCH */
.section-search__button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 8%;
  top: 19%;
  font-size: 1.5rem;
  opacity: 0.8;
}

.section-search__input {
  background-color: #e7e7e7;
  width: 100%;
  border: none;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.section-search__input::placeholder {
  opacity: 40%;
  font-size: 1.1rem;
}
/* Section-tags */
.section-tags__item {
  display: flex;
  justify-content: flex-start;
}
.section-tags__name {
  margin-right: 5px;
}
/* Section-filters */
.section-filters {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.filters__arrow--red {
  position: absolute;
  color: rgb(255, 255, 255);
  right: 130px;
  top: 235px;
  size: 1rem;
}
.fas {
  font-size: 1.3rem;
}
.filters__select--red {
  border: none;
  padding: 10px 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  background-color: #ed6454;
}
.section-filters__custom-select.selected .section-filters__list--red {
  background-color: #ed6454;
  display: flex;
  flex-wrap: wrap;
  height: 305px;
  margin-top: -5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filters__arrow--green {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 750px;
  top: 235px;
  size: 1rem;
}
.filters__select--green {
  border: none;
  padding: 10px 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  background-color: #68d9a4;
}
/* .filters__select--green::placeholder {
  z-index: 100;
  color: black;
} */
.section-filters__custom-select.selected .section-filters__list--green {
  background-color: #68d9a4;
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  margin-top: -10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.section-filters__custom-select.selected .section-filters__select {
  width: 410px;
}
/* .section-filters__list {
  height: 350px;
} */
/* a {
  text-decoration: none;
} */
.filters__arrow--blue {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 210px;
  top: 235px;
  size: 1rem;
}
.filters__select--blue {
  border: none;
  padding: 10px 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  background-color: #3282f7;
}
.section-filters__custom-select.selected .section-filters__list--blue {
  background-color: #3282f7;
  display: flex;
  flex-wrap: wrap;
  height: 345px;
  margin-top: -10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.selected {
  width: 450px;
}
/* .filters__arrow--green {
  position: absolute;
  top: 230px;
  left: 1000px;
} */
.hide {
  display: none;
}

.options {
  color: white;
  margin-left: 10px;
  width: 30%;
  padding-top: 10px;
  text-decoration: none;
  font-size: 1.275rem;
}
